.movie {
  display: flex;
  flex-direction: column;
}

.movie__element {
  display: flex;
  justify-content: space-between;
}

.movie__title {
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15.73px;
  margin-top: 14px;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .movie__title {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .movie__title {
    font-size: 12px;
    line-height: 14.52px;
    margin-top: 15px;
  }
}

.movie__duration {
  color: #8B8B8B;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  border-top: 1px solid #424242;
  padding-top: 6px;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .movie__duration {
    font-size: 10px;
    line-height: 12.1px;
  }
}

.movie__button {
  background-color: transparent;
  margin: 10px 0 25px 20px;
  border: none;
  cursor: pointer;
}

.movie__button:hover {
  transition: opacity .2s linear;
}